.gallery
  &__flex
    display: flex
    align-items: center
    justify-content: space-between
    gap: rem(30px)

    margin: 0 auto
    padding: 0 8px
    max-width: 1400px + 16px

    +max-screen($breakpoint-sm)
      padding: 0
      flex-direction: column
      justify-content: center
      align-items: center

  &__box
    overflow: hidden
    width: 38%
    max-width: 100%
    align-items: center
    display: flex
    +max-screen($breakpoint-sm)
      max-width: 100%
      width: calc(47% * 2)

    &--small
      width: 28%
      max-width: 100%
      +max-screen($breakpoint-sm)
        width: 60%
