.hero
  width: 100vw
  position: relative
  min-height: 30vh
  height: 35vw

  &__image
    position: absolute
    object-fit: cover
    width: 100%
    height: 100%

  &__container
    position: relative
    min-height: 30vh
    height: 35vw

  &__title
    position: absolute
    color: $color-light
    bottom: 9%
