.shrink-text
  &__link
    +adaptive-value('font-size', 24, 12, 1)
    +adaptive-value('line-height', 72, 28 , 1)
    text-transform: uppercase
    display: inline-flex
    align-items: center
    font-weight: 300
    width: fit-content
    gap: 0.5rem

    img
      +adaptive-value('height', 26, 14, 1)

  &__full
    display: none
