.shrink-text
  &__link
    +responsive-font(16, 12)
    text-transform: uppercase
    display: inline-flex
    align-items: center
    font-weight: 300
    width: fit-content
    line-height: 1.4
    gap: 0.8rem

  &__full
    display: none
