.field
  display: flex
  +max-screen($breakpoint-md)
    flex-direction: column

label
  +adaptive-value('font-size', 30, 16, 1)
  text-transform: uppercase
  +max-screen($breakpoint-md)
    text-align: center

input
  max-width: rem(407px)
  background-color: transparent
  border-bottom: 2px solid $color-dark

  +adaptive-value('font-size', 30, 16, 1)
  text-align: center

  +max-screen($breakpoint-md)
    max-width: 100%


.wpcf7 form .wpcf7-response-output
  +adaptive-value('font-size', 30, 16, 1)
  margin: rem(16px) 0 0 0
