.mobile-menu
  background-color: $color-grey
  position: absolute
  top: rem(96px)
  left: 0
  z-index: 5
  width: 100%
  display: none

  .menu
    height: auto
    padding-bottom: 1rem
    flex-direction: column
    align-items: flex-start
    gap: rem(18px)

    .menu-item 
      li 
        border-bottom: 1px solid $color-dark
        display: block
        width: 100vw

      a
        width: 100%
        display: block
        line-height: 1.5
