body
  +responsive-font(60, 30)
  font-family: $font-family-base
  font-weight: $default-font-weight
  font-style: normal
  line-height: $default-line-height
  color: $default-text-color
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-backface-visibility: hidden
  -webkit-tap-highlight-color: transparent
