.footer 
  +adaptive-value('padding-top', 60, 20, 1)
  +adaptive-value('padding-bottom', 20, 15, 1)
  +adaptive-value('margin-top', 80, 20, 1)
  background-color: $color-grey

  &__flex
    display: flex
    justify-content: space-between

    +max-screen($breakpoint-md)
      flex-direction: column
      align-items: stretch
      gap: rem(30px)

  &__col
    display: flex
    flex-direction: column

    &--1
      justify-content: space-between
      +max-screen($breakpoint-md)
        align-items: center
        gap: rem(20px)

    &--2
      justify-content: center

  &__social
    display: flex
    align-items: flex-end
    flex-wrap: wrap
    gap: rem(15px)
    +max-screen($breakpoint-md)
      justify-content: center

    li
      line-height: 0.5
      text-align: right
      +max-screen($breakpoint-md)
        text-align: center

    a
      text-transform: uppercase

    &--two-cols
      li
        +max-screen($breakpoint-md)
          flex: 0 1 calc(50% - 15px)

    &--three-cols
      li
        +max-screen($breakpoint-md)
          flex: 0 1 calc(33% - 15px)

    +max-screen($breakpoint-md)
      align-items: center

  &__copyright
    +adaptive-value('font-size', 20, 14, 1)
    text-align: center
    margin-top: 1.2em
    +max-screen($breakpoint-md)
      margin-top: 1.5em
