.header 
  background-color: $color-light
  position: relative
  padding: rem(6px) 0

  &__menu
    +max-screen($breakpoint-lg)
      display: none

  &__container
    height: 100% 
    display: flex
    align-items: center

  &__col
    flex: 1 1 33.333%

    &--2
      +max-screen($breakpoint-lg)
        display: none

    &--3
      +max-screen($breakpoint-lg)
        flex: 0 1

  &__logo-text
    +adaptive-value('font-size', 62, 28, 1)
    font-family: $font-family-secondary

  &__logo-box
    display: block
    overflow: hidden
    max-height: 120px
    max-width: 140px

    img
      width: 100%
      height: 100%
      object-fit: cover

  &__icon
    display: none
    flex-direction: column
    align-items: flex-end
    gap: rem(8px)

    +max-screen($breakpoint-lg)
      display: flex

    div
      background-color: $color-dark
      width: rem(40px)
      height: rem(6px)
      transition: 0.2s ease

  &__icon.open
    transform: translateX(-50%)

    div
      &:nth-child(1)
        transform: rotate(45deg) translateX(50%)

      &:nth-child(2)
        opacity: 0

      &:nth-child(3)
        transform: rotate(-45deg) translateX(50%)
